<body>
<html>
    <footer class="page-footer font-small black pt-4">

    <div class="footer-copyright text-center   text-dark py-3  ">© 2018 Copyright:
        
        
        <a href="http://127.0.0.1:5456"> CryptoCreds</a>
      
    </div>
      <!-- Copyright -->
  
    </footer>
</body>
</html>

<style>

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
}

</style>