<% include partials/header %> 
<div class="mt-5">
<h2 class="text-center mb-4">Signup</h2>
<form method="POST" action="/issuer/issueCert" class="mx-auto mt-5" style="width: 30%;">
    <div class="form-group"><input class="form-control" type="email" placeholder="Email" name="email" required></div>
    <div class="form-group"><input class="form-control" type="password" placeholder="Password" name="password" required></div>
    <button type="submit" class="btn btn-dark btn-block">Sign In</button>
</form>
</div>
<% include partials/footer %> 