<% include partials/header %>

<div class="container">
    <div class="card m-5 w-50 mx-auto shadow-sm">
        <div class="card-body">
            <h1 class="card-title text-center text-success display-3"><i class="fas fa-check-circle"></i> Verified</h1>
            <h4 class="text-center"><%= data.name %></h4>
            <p class="card-text text-center text-info lead"><%= data.degree %></p>
            <p class="card-text text-center text-info lead"><%= data.college %></p>
        </div>
    </div>
</div>

<% include partials/footer %>